{% extends 'base.html' %}
{% set active_page = 'new_item' %}
{% block title %}Add new item - {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-7 offset-lg-2 my-5">
            <h1>Add new item</h1><hr>
            <form class="form-group" method="post" action="{{ url_for('new_item') }}" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{ form.title.label }}
                {{ form.title(class="form-control") }}

                {{ form.price.label }}
                {{ form.price(class="form-control") }}

                {{ form.description.label }}
                {{ form.description(class="form-control", rows="3") }}

                {{ form.category.label }}
                {{ form.category(class="form-control") }}

                {{ form.subcategory.label }}
                {{ form.subcategory(class="form-control") }}
                <br>
                {{  form.image.label }} <br>
                {{  form.image }}
                <hr>
                {{ form.submit(class="btn btn-primary form-control") }}
            </form>
        </div>
    </div>
{% endblock %}
